canvas {
    width: 690px;
    background: url("transparency\ square.png") repeat;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#startscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: darkgrey;
}

@media only screen and (max-width: 690px) {
    canvas {
        width: 100%;
    }
}